.bebidas{
    background-image: url('../multimedia/bebidas.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
    text-align: center;
    padding: 80px;
    background-color: black;
    margin: 20px;
    color: rgb(255, 255, 255);
    border-radius: 20px;;
    span{
        background-color: #ca4040be;
        padding: 5px;
        border-radius: 15px;
    }
}
.content-box-wrapper{
    @extend %card-categorias;
}