/* SECCION CATEGORIAS/PRODUCTOS DESTACADOS */
    /* PRODUCTOS DESTACADOS */
    .contenedor-wrapper{
		display: flex;
        flex-flow: wrap;
	}
    .contenedor-destacados {
		display: flex;
        flex-flow: wrap;
        justify-content: space-evenly;
        gap: 15px;
        margin: 8px;
        .card {
            width: 300px;
            background-color: $color-principal;
            border-radius: 90px, 50px;
            overflow: hidden;
            box-shadow: 22px 13px 31px 1px rgba(0,0,0,0.7);
        }
    }
    .card-texto {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        row-gap: 15px;
        justify-content: center;
    }
    .precio {
        display: flex;
        font-size: 25px;
        font-weight: 700;
        color: $background-principal;
        padding: 5px;
    }
    
/* TITULO PRODUCTOS DESTACADOS */
.titulo-3{
    display: flex;
    margin: 20px;
    padding: 15px;
    font-family:$font_1;  
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color:$background-principal;
    color: $color-principal;
    border-radius: 15px;
    font-size: calc(1.325rem + .9vw);
}


/* SECCION CATEGORIAS/ PRODUCTOS DESTACADOS/ CATEGORIAS */


.contenedor-categorias {
        @include categorias-contenedor();
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(4, 50vh);
		.enlace {
			@include enlace();
		}
		.sector-1 {
			background-image: url(../multimedia/almacen.jpg);
            @include sectores();
		}
		.sector-2 {
			background-image: url(../multimedia/bebidas.jpg), linear-gradient(to top, rgb(0 0 0 /.75) ,rgb(0 0 0 / .75));
			@include sectores();
		}
		.sector-3 {
			background-image: url(../multimedia/carniceria.jpg),linear-gradient(to top, rgb(0 0 0 /.75) ,rgb(0 0 0 / .75));
			@include sectores();
        }
		.sector-4 {
			background-image: url(../multimedia/bebidas-alcoholicas.jpg.jpg);
			@include sectores();
        }
		.sector-5 {
			background-image: url(../multimedia/congelados.jpg);
			@include sectores();
		}
		.sector-6 {
			background-image: url(../multimedia/fiambreria.jpg);
			@include sectores();
		}
		.sector-7 {
			background-image: url(../multimedia/lacteos.jpg);
			@include sectores();
		}
		.sector-8 {
			background-image: url(../multimedia/limpieza.jpg.jpg);
			@include sectores();
		}
		.sector-9 {
			background-image: url(../multimedia/panaderia.jpg);
			@include sectores();
		}
		.sector-10 {
			background-image: url(../multimedia/sintacc.jpg);
			@include sectores();
		}
		.sector-11 {
			background-image: url(../multimedia/pastas.jpg);
			@include sectores();
		}
		.sector-12 {
			background-image: url(../multimedia/verduleria.jpg);
			@include sectores();
		}
	}
