/* SECCION CARRITO */

table {
	border-collapse: collapse;
	width: 80%;
	box-shadow: 1px 1px 3px #bababa;
}
tr {
	padding: .5px;
	text-align: center;
	border: 1px solid $border_1;
}
th {
	padding: .5px;
	text-align: center;
	border: 1px solid $border_1;
}
td {
	padding: .5px;
	text-align: center;
	border: 1px solid $border_1;
}
.text-center {
	text-align: center;
}
