%card-categorias{
  .content{
    display: grid;
    grid-template-columns: repeat(auto-fit, 220px);
    grid-template-rows: 1fr;
    grid-gap: 5px;
    justify-content: center;
    align-items: center;
  }
    .box-wrapper {
        display: flex;
        flex-flow: wrap;
        background-color: #ca4040;
        overflow: hidden;
        max-width: 320px;
        box-shadow: 0px 5px 43px rgba( 0, 0, 0, 0.2 );
        margin: 10px;
        text-align: center;
        border-radius: 20px;
        cursor: pointer;
        transition-duration: 0.5s;
    }
    .box-wrapper:hover{
      box-shadow: 0px 5px 70px rgba(255, 0, 0, 0.4);
    }
        img {
          max-width: 100%;
        }
        .success {
          display: flex;
          position:absolute;
          top:50%;
          left:37%;
          transform: translate(-50%,-50%);
          opacity: 0;
          z-index: 999;
          .expanded & {
            opacity:1;
            transition: opacity 0.3s 0.6s;
          }
          &:before,
          &:after {
            content: '';
            display: block;
            position: absolute;
            background-color: #fff;
          }
          &:before {
            width: 40px;
            height: 20px;
            transform: rotate(45deg);
          }
          &:after {
            width: 88px;
            height: 20px;
            transform: rotate(-45deg);
            top: -16px;
            left: 8px;
          }
        }
      .title {
        font-size: 1.2em;
        font-weight: 900;
        text-transform: uppercase;
        margin: 0;
        font-family: 'Acme', sans-serif;
      }
      .desc {
        font-family: 'Satisfy', cursive;
        font-size: 1em;
        color: white;
      }
      .box-content{
        position: relative;
        z-index: 1;
        color: #fff;
          &:before {
          content: '';
          width: 200%;
          height: 100px;
          position: absolute;
          display: block;
          background-color: #ca4040;
          transform: rotate(-8deg);
          top: -50px;
          left: -10%;
          z-index: -1;
        }
        .buy {
          display: block;
          top: -80px;
          right: 30px;
          z-index: 2;
          width: 70px;
          height: 70px;
          position: absolute;
          span {
            width: 70px;
            height: 70px;
            background-color: rgba(22, 20, 20, 0.767);
            display: block;
            border-radius: 50%;
            position: absolute;
            font-size: 30px; 
            color: #fff;
            transition: all 0.3s ease;
            transform: translate(-50%,-50%);
            top: 50%;
            left: 50%;
            i {
              padding: 15px;
            }
            .expanded & {
              width: 750px;
              height: 750px;
              i {
                display: none;
              }
            }
          }
        }
        .price {
          color: rgb(255, 255, 255);
          font-size: 1.5em;
          font-weight: 900;
          display: block;
          width: 100px;
          margin: 20px auto 0;
          position: relative;
          font-family: 'Satisfy', cursive;
          &:after,
          &:before {
            content: '';
            height: 1px;
            width: 50px;
            display: block;
            position: absolute;
            background-color: #ddd;
            top: 18px;
          }
          &:before {
            left: -50px;
          }
          &:after {
            right: -50px;
          }
        }
        .footer {
          ul {
            list-style: none;
            padding: 0;
            margin: 1em 0;
          }
        }
      }
}

