main{
    background-color:rgba(235, 235, 235, 0.849);
    flex-flow: wrap;
}

/* diseño de titulos */
.titulo{
    display: flex;
    margin: 50px;
    font-size: calc(1.325rem + .9vw);
    padding: 15px;
    font-family:'ABeeZee', sans-serif;  
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color:#000000;
    color: white;
    border-radius: 15px;
}

.titulo-1{
    display: flex;
    margin: 30px;
    font-size: calc(1.325rem + .9vw);
    padding: 15px;
    font-family:'ABeeZee', sans-serif;  
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color:#cec5c5;
    color: rgb(12, 12, 12);
    border-radius: 15px;
}

