main{
    background-color:rgba(235, 235, 235, 0.849);
    flex-flow: wrap;
}
/* diseño de titulos */
.titulo{
    display: flex;
    margin: 20px;
    font-size: 20px;
    padding: 10px;
    font-family:$font_1;  
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color:$background-principal;
    color: $color-principal;
    border-radius: 15px;
}
.titulo-1{
    display: flex;
    margin: 30px;
    font-size: calc(1.325rem + .9vw);
    padding: 15px;
    font-family:$font_1;  
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color:rgb(206, 197, 197);
    color: $background-principal;
    border-radius: 15px;
}

