/* HEADER/ navbar  PARA MOVIL */
/* Mobile -> emtre 320px y 768 px */

@media screen and (max-width: 767px){
    header{
        @include header();
    }
    .imagen-1{
        display: flex;
        width: 50px;
        height: 50px;
        border-radius: 20%;
        flex-direction: column;
    }
    .d-flex{
        @include tamaño(40px, 225px);
    }
    .imagen-2 {
        @include tamaño(50px, 50px);
    }
        .navbar-toggler {
            .navbar-toggler-icon {
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.85)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
        }
    }
    #navbarSupportedContent {
        ul {
            flex-direction: column;
            text-align: center;
            justify-content: center;
            li {
                .nav-link {
                    color: $color-principal;
                    font-size: 15px;
                }
				a {
					font-size: 30px;
				}
			}
		}
	}
}

/* FIN DEL HEADER/NAVBAR PARA MOBILE */

/* INICIO DEL HEADER/NAVBAR PARA TABLET */
/* Tablet -> entre  768 y 1024 */ 
@media screen and (min-width: 768px) {
	header {
		@include header();
	}
	.imagen-1 {
		display: flex;
		width: 100px;
		height: 100px;
		margin: 20px;
		border-radius: 15%;
	}
	.d-flex {
        @include tamaño(60px, 550px);
	}
	.imagen-2 {
        @include tamaño(50px, 50px);
	}
	#navbarSupportedContent {
		ul {
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;
			li {
				.nav-link {
					color: $color-principal;
					font-size: 30px;
					align-items: center;
					text-align: center;
					margin-left: 35px;
				}
				a {
					font-size: 30px;
				}
			}
		}
	}
}

/* FOOTER MEDIA QUERIES */

@media (max-width: 880px) {
	.footer-distributed {
		font: bold 14px sans-serif;
		.footer-left {
			display: block;
			width: 100%;
			margin-bottom: 40px;
			text-align: center;
		}
		.footer-center {
			display: block;
			width: 100%;
			margin-bottom: 40px;
			text-align: center;
			i {
				margin-left: 0;
			}
		}
		.footer-right {
			display: block;
			width: 100%;
			margin-bottom: 40px;
			text-align: center;
		}
	}
}

/* FUENTE PARA TITULO EN LA PAGINA PRINCIPAL */
    /* version mobile */
    @media screen and (max-width:767px){
    .titulo-2{
        display: flex;
        margin: 20px;
        font-size: calc(1.325rem + .9vw);
        padding: 5px;
        font-family: $font_1;  
        text-align: center;
        justify-content: center;
        align-items: center;
        background-color:$background-principal;
        color: $color-principal;
        border-radius: 15px;
    }
}

    /* VERSION TABLET AND DESKTOP */
    @media screen and (min-width:768px) {
    .titulo-2{
        display: flex;
        margin: 50px;
        font-size: calc(1.325rem + .9vw);
        padding: 15px;
        font-family:$font_1;  
        text-align: center;
        justify-content: center;
        align-items: center;
        background-color:$background-principal;
        color: $color-principal;
        border-radius: 15px;
    }
}

/* SECCION INICIO/SERVICIOS */

    /* VERSION MOBILE */
@media screen and (max-width:767px) {
	.contenedor-servicios {
        @include servicio-contenedor(1fr, repeat(3, 1fr), 25px);
		.servicio-1 {
			background-image: url(../multimedia/tabla-fiambre.jpeg);
			@include servicio();
			p {
				@include servicio-p(1.3rem);
			}
		}
		.servicio-2 {
			background-image: url(../multimedia/carne-envasada.jpg);
			@include servicio();
			p {
				@include servicio-p(1.3rem);
			}
		}
		.servicio-3 {
			background-image: url(../multimedia/envio-domicilio.jpg);
			@include servicio();
			p {
				@include servicio-p(1.5rem);
			}
		}
	}
}

    /* VERSION TABLET */
    
    @media screen and (min-width:768px) and (max-width: 1199px) {
        .contenedor-servicios {
            @include servicio-contenedor(repeat(3, 1fr), 1fr, 55px);
            .servicio-1 {
                background-image: url(../multimedia/tabla-fiambre.jpeg);
                @include servicio();
                p {
                    @include servicio-p(1.3rem);
            }
            .servicio-2 {
                background-image: url(../multimedia/carne-envasada.jpg);
                @include servicio();
                p {
                    @include servicio-p(1.3rem);
                }
            }
            .servicio-3 {
                background-image: url(../multimedia/envio-domicilio.jpg);
                @include servicio();
                p {
                    @include servicio-p(1.3rem);
            }
        }
    }
        }
    }
    /* TITULO PRODUCTOS DESTACADOS */
        /* version mobile */
    @media screen and (max-width: 767px) {
        .titulo-3{
            display: flex;
            margin: 10px;
            padding: 5px;
            font-family:$font_1;  
            text-align: center;
            justify-content: center;
            align-items: center;
            background-color:$background-principal;
            color: $color-principal;
            border-radius: 15px;
            font-size: calc(1.325rem + .9vw);
        }
        
    }
    /* VERSION TABLET */
    @media screen and (min-width:768px){
        .titulo-3{
            display: flex;
            margin: 20px;
            padding: 15px;
            font-family:$font_1;  
            text-align: center;
            justify-content: center;
            align-items: center;
            background-color:$background-principal;
            color: $color-principal;
            border-radius: 15px;
            font-size: calc(1.325rem + .9vw);
        }
        
    }


/* SECCION CATEGORIAS/ PRODUCTOS DESTACADOS/ CATEGORIAS  */
    /* VERSION MOBILE */

@media screen and (max-width: 767px) {
	.contenedor-categorias {
		@include categorias-contenedor();
		grid-template-columns: 1fr;
		grid-template-rows: repeat(12, 1fr);
		.enlace {
			@include enlace();
		}
		.sector-1 {
			background-image: url(../multimedia/almacen.jpg);
			@include sectores();
			margin-bottom: 120px;
		}
		.sector-2 {
			background-image: url(../multimedia/bebidas.jpg), linear-gradient(to top, rgb(0 0 0 /.75) ,rgb(0 0 0 / .75));
			@include sectores();
			margin-bottom: 120px;
		}
		.sector-3 {
			background-image: url(../multimedia/carniceria.jpg),linear-gradient(to top, rgb(0 0 0 /.75) ,rgb(0 0 0 / .75));
			@include sectores();
			margin-bottom: 120px;
		}
		.sector-4 {
			background-image: url(../multimedia/bebidas-alcoholicas.jpg.jpg);
			@include sectores();
			margin-bottom: 120px;
		}
		.sector-5 {
			background-image: url(../multimedia/congelados.jpg);
			@include sectores();
			margin-bottom: 120px;
		}
		.sector-6 {
			background-image: url(../multimedia/fiambreria.jpg);
			@include sectores();
			margin-bottom: 120px;
		}
		.sector-7 {
			background-image: url(../multimedia/lacteos.jpg);
			@include sectores();
			margin-bottom: 120px;
		}
		.sector-8 {
			background-image: url(../multimedia/limpieza.jpg.jpg);
			@include sectores();
			margin-bottom: 120px;
		}
		.sector-9 {
			background-image: url(../multimedia/panaderia.jpg);
			@include sectores();
			margin-bottom: 120px;
		}
		.sector-10 {
			background-image: url(../multimedia/sintacc.jpg);
			@include sectores();
			margin-bottom: 120px;
		}
		.sector-11 {
			background-image: url(../multimedia/pastas.jpg);
			@include sectores();
			margin-bottom: 120px;
		}
		.sector-12 {
			background-image: url(../multimedia/verduleria.jpg);
			@include sectores();
			margin-bottom: 120px;
		}
	}
}

    /* VERSION TABLET */
    
@media screen and ( min-width: 768px) and ( max-width: 1199px) {
        .contenedor-categorias {
            @include categorias-contenedor();
            grid-template-columns: repeat(2,2fr);
            grid-template-rows: repeat(2, 20vh);
            .enlace {
                @include enlace();
            }
            .sector-1 {
                background-image: url(../multimedia/almacen.jpg);
                @include sectores();
                margin-bottom: 120px;
            }
            .sector-2 {
                background-image: url(../multimedia/bebidas.jpg), linear-gradient(to top, rgb(0 0 0 /.75) ,rgb(0 0 0 / .75));
                @include sectores();
                margin-bottom: 120px;
            }
            .sector-3 {
                background-image: url(../multimedia/carniceria.jpg),linear-gradient(to top, rgb(0 0 0 /.75) ,rgb(0 0 0 / .75));
                @include sectores();
                margin-bottom: 120px;
            }
            .sector-4 {
                background-image: url(../multimedia/bebidas-alcoholicas.jpg.jpg);
                @include sectores();
                margin-bottom: 120px;
            }
            .sector-5 {
                background-image: url(../multimedia/congelados.jpg);
                @include sectores();
                margin-bottom: 120px;
            }
            .sector-6 {
                background-image: url(../multimedia/fiambreria.jpg);
                @include sectores();
                margin-bottom: 120px;
            }
            .sector-7 {
                background-image: url(../multimedia/lacteos.jpg);
                @include sectores();
                margin-bottom: 120px;
            }
            .sector-8 {
                background-image: url(../multimedia/limpieza.jpg.jpg);
                @include sectores();
                margin-bottom: 120px;
            }
            .sector-9 {
                background-image: url(../multimedia/panaderia.jpg);
                @include sectores();
                margin-bottom: 120px;
            }
            .sector-10 {
                background-image: url(../multimedia/sintacc.jpg);
                @include sectores();
                margin-bottom: 120px;
            }
            .sector-11 {
                background-image: url(../multimedia/pastas.jpg);
                @include sectores();
                margin-bottom: 120px;
            }
            .sector-12 {
                background-image: url(../multimedia/verduleria.jpg);
                @include sectores();
                margin-bottom: 120px;
            }
        }
}
