header{
	@include header();
}

	.imagen-1 {
		display: flex;
		width: 100px;
		height: 100px;
		margin: 20px;
		border-radius: 15%;
	}
	.d-flex {
        @include tamaño(60px, 550px);
	}
	.imagen-2 {
        @include tamaño(50px, 50px);
	}
	#navbarSupportedContent {
		ul {
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;
			li {
				.nav-link {
					color: $color-principal;
					font-size: 30px;
					align-items: center;
					text-align: center;
					margin-left: 35px;
				}
				a {
					font-size: 30px;
				}
			}
		}
	}

#navbarSupportedContent {
	ul {
		li {
			position: relative;
			display: block;
			padding: 5px;
			a {
				&:hover {
					background: linear-gradient(to right, #b47dcd, #e878a2, #eb85ab);
					border-radius: 85px;
				}
			}
		}
	}
	li {
		&:hover {
			>ul {
				display: block;
			}
		}
	}
}
